<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Viewer</title>
    <link rel="stylesheet" type ="text/css" href="/style.css"/>
</head>
<body>
    <%- include('navbar', {links: links, title: title}) %>
    <!-- Could take the below part and make a template out of it -->
    <ul>
    <% for (let i = 0; i < files.length; i++) { %>
        <li>
          <div class = "file">
            <p><%= files[i].filename %></p>
            <form action="/fileInfo/<%=folder.folderId%>/<%=files[i].fileId%>" method = "GET">
              <button>File Info</button>
            </form>
            <form action="" method = "GET">
              <button>Download</button>
            </form>
            <form action="/fileViewer/<%=folder.folderId%>/<%=files[i].fileId%>" method = "GET">
              <button>Delete</button>
            </form>
          </div>
        </li>
      <% } %>
    </ul>
</body>
</html>